// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upload-document {
  padding: 20vh 0;
  width: 50%;
  margin: auto;
}

.document-preview {
  padding: 20px 0;

  .card {
    margin: 20px 0;
    #show-progress {
      .progress {
        width: 400px;
      }
    }
  }
}

#files-header {
  padding-top: 20px;
  text-align: center;
}

.single-document {
  padding-top: 100px;
  .card {
    margin: 20px 0;
    #show-progress {
      .progress {
        width: 400px;
      }
    }
  }
}
